@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "SegwickAve";
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Thin.ttf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

*{
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

header{
    background-image: url(../imgs/BG.png);
    background-size: cover;
    background-position: top;
}

header .navbar-mob, header .main-welcome .welcome-img .img-mobile, .section-adventure .main-info .route-mobile{
    display: none;
}

.section-adventure .main-info .img .adv_mobile{
    display: none;
}

header .navigation{
    display: flex;
    justify-content: space-between;
}

header .navigation button{
    padding: 20px;
    border-style: none;
    background-color: white;
    color: #F87932;
    border-radius: 0 0 15px 15px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 50px;
    transition: 0.5s;
}

header .navigation button:hover{
    margin-bottom: 0;
    transition: 0.5s;
}

header .navigation .logo{
    width: 124px;
    height: 102px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .main-welcome .welcome-text h1{
    font-size: 80px;
    color: #39BFA7;
    font-family: "Merriweather";
    margin-bottom: 50px;
    text-shadow: 0px 4px 8px #00171480;
}

header .main-welcome .welcome-text h1 span{
    color: #F87932;
}

header .main-welcome .welcome-text button{
    border-style: none;
    width: 213px;
    height: 62px;
    color: white;
    font-family: "Lato";
    letter-spacing: 20%;
    font-size: 20px;
    font-weight: 700;
    background-color: #F87932;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
}

header .main-welcome .welcome-text button:hover{
    color: #F87932;
    background-color: white;
}

.main-welcome{
    display: flex;
    align-items:center;
    padding-bottom: 165px;
}

header .rombiki{
    position: absolute;
}

.section-adventure .main-info{
    display: flex;
}

.section-adventure .main-info .text *{
    margin-bottom: 30px;
}

.section-adventure .main-info .text h3{
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 24px;
    color: #666;
    font-weight: 500;
    letter-spacing: 5px;
}

.section-adventure .main-info .text h2{
    font-size: 60px;
    font-family: "Merriweather";
    color: #222;
    line-height: 100%;
    margin-bottom: 50px;
}

.section-adventure .main-info .text p{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 150%;
    letter-spacing: 3px;
    width: 80%;
}

.section-adventure .main-info .route{
    position: absolute;
    top: 975px;
    left: 150px;
}

.bl-wht_btn{
    border-style: none;
    padding: 12px 34px;
    border: solid #F87932;
    background-color: white;
    font-family: "Lato";
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 50px 0;
    transition: 0.3s;
}

.bl-wht_btn:hover{
    background-color: #F87932;
    color: white;
    transition: 0.3s;
}

.section-enough{
    background-image: url(../imgs/video-bg.png);
    background-size: cover;
    height: 1000px;
    display: flex;
}

.section-enough .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-enough .container *{
    margin-top: 30px;
}

.section-enough h2{
    font-size: 60px;
    color: white;
    font-family: "Merriweather";
    text-align: center;
}

.section-enough h3{
    color: white;
    font-size: 20px;
    font-family: "Lato";
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.section-enough .btn{
    background-image: url(../imgs/Button\ Play.svg);
    block-size: cover;
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    background-size: 100%;
}

.section-enough .btn button{
    color: white;
    background-color: #22222200;
    border-style: none;
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
}

.section-enough .btn:hover{
    width: 180px;
    height: 180px;
    transition: 0.3s;
}

.section-advantages .container{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    font-family: "Lato";
    font-weight: 700;
}

.section-advantages .bg-romb{
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: #39BFA7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 1px #00685C40;
}

.section-advantages .bg-romb .info-romb{
    background-color: white;
    width: 175px;
    height: 175px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #3E000040;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-advantages .bg-romb .info-romb .num-romb{
    background-color: #39BFA7;
    border: solid #390000a6;
    margin: 10px 0 0 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px #2A06063B;
}

.section-advantages .bg-romb .info-romb p{
    transform: rotate(-45deg);
    font-size: 32px;
    text-align: center;
}

.section-advantages .bg-romb .info-romb .num-romb p{
    color: white;
    font-size: 20px;
}

.section-blog .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    text-align: center;
}

.title-text .title{
    font-family: "Montserrat";
}

.title-text .title h2{
    font-size: 48px;
    color: #222;
    padding-bottom: 15px;
}

.title-text .title h3{
    font-size: 32px;
    color: #444;
    font-weight: 500;
}

.title-text img{
    padding: 25px 0;
}

.title-text .descr{
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #666;
}

.section-blog .img{
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
    padding: 50px 0;
}

.section-blog .img .image:nth-child(1){
    background-image: url(../imgs/news1.jpg);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
}

.section-blog .img .image:nth-child(2){
    background-image: url(../imgs/news2.jpg);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.section-blog .img .image:nth-child(3){
    background-image: url(../imgs/news3.jpg);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}

.section-blog .img .image:nth-child(4){
    background-image: url(../imgs/news4.jpg);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

.section-blog .img .image:nth-child(5){
    background-image: url(../imgs/news5.jpg);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.section-blog .img .image:nth-child(6){
    background-image: url(../imgs/news6.jpg);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
}

.section-blog .img .image .cover{
    background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    align-items: end;
    block-size: 100%;
    color: white;
    padding: 20px;
    font-family: "Merriweather";
    font-size: 24px;
    text-align: start;
    opacity: 0;
    transition: 0.5s;
}

.section-blog .img .image .cover:hover{
    opacity: 1;
    transition: 0.5s;
}

.section-blog .container .bl-wht_btn{
    margin: 0 40%;
}

.section-roadmap{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/bg2.jpg);
    padding: 50px 0;
}

.section-roadmap .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-roadmap .title-text .title h2{
    color: white;
}

.section-roadmap .title-text .descr{
    color: #eee;
    padding: 0 30px;
    line-height: 170%;
}

.section-roadmap .title-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-roadmap .container{
    border: solid white;
    padding: 150px;
}

.section-roadmap .hikes{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.section-roadmap .hikes .title-hikes{
    font-family: "SegwickAve";
    color: #39BFA7;
    font-size: 50px;
    padding-right: 100px;
}

.section-roadmap .hikes .list-hikes .txt{
    display: flex;
    padding-bottom: 50px;
}

.section-roadmap .hikes .list-hikes{
    color: white;
}

.section-roadmap .hikes .list-hikes .num{
    font-size: 60px;
    font-family: "SegwickAve";
    padding-right: 20px;
}

.section-roadmap .hikes .list-hikes .descr p{
    font-family: "SegwickAve";
    color: #969696;
    font-size: 28px;
}

.section-roadmap .hikes .list-hikes .descr h3{
    font-family: "Merriweather";
    font-size: 32px;
    color: #DDD;
}

.section-roadmap .bl-wht_btn{
    background: none;
    color: #F87932;
    margin: 0 35%;
    transition: 0.3s;
}

.section-roadmap .bl-wht_btn:hover{
    color: white;
    background-color: #F87932;
    transition: 0.3s;
}

footer{
    background-color: #151C21;
    font-family: "Lato";
    font-weight: 500;
}

.section-footer .info{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
    color: white;
}

.section-footer .info .box .title{
    font-size: 20px;
    padding-bottom: 10px;
}

.section-footer .info .box .content{
    font-size: 16px;
}

.section-footer .line{
    width: 80%;
    height: 2px;
    background-color: #414141;
    margin: 50px 10%;
}

.section-footer .copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-footer .copyright p:nth-child(1){
    font-size: 18px;
    color: #bbb;
    padding-bottom: 10px;
}

.section-footer .copyright p:nth-child(2){
    font-size: 13px;
    color: #bbb;
    letter-spacing: 2px;
    padding-bottom: 15px;
}

.section-footer .copyright .socialmed{
    padding-bottom: 15px;
}

@media (max-width: 600px) {
    .container{
        width: 320px;
    }
    header .rombiki, header .main-welcome .welcome-img, header .navigation button{
        display: none;
    }

    header .main-welcome .welcome-text h1{
        font-size: 40px;
        margin: 30px 30px;
        margin-top: 50px;
    }

    header .navigation .logo{
        background: none;
        width: 30%;
    }

    header .main-welcome .welcome-text button{
        font-size: 8px;
        width: 35%;
        height: 30px;
        margin: 0 30px;
        margin-bottom: 100px;
    }

    header .navbar-mob{
        display: block;
    }

    header .navbar-mob .navbar{
        border-style: none;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-image: url(../imgs/navbar_button.svg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .navbar-mob .navbar .navbar-content{
        display: none;
        width: 131px;
        height: 670px;
        background-color: white;
        position: absolute;
        top: 215%;
        right: -15px;
        box-shadow:  0px 6px 14px 2px rgba(0, 0, 0, 0.2);
        padding-top: 5px;
        overflow: hidden;
    }

    header .navbar-mob:hover .navbar-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header .navbar-mob:hover .navbar-content .menu{
        font-size: 12px;
        color: #F87932;
        font-family: "Lato";
        font-weight: 600;
        letter-spacing: 2px;
        padding: 7px 10px;
        text-decoration: underline #F87932;
        display: flex;
        flex-direction: column;
    }

    header .navbar-mob:hover .navbar-content .socialmed{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }

    header .main-welcome .img-mobile{
        display: block;
        top: 320px;
        right: -30px;
        position: absolute;
    }

    .section-adventure .main-info .text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-adventure .main-info .text h3{
        font-size: 12px;
    }

    .section-adventure .main-info .text h2{
        font-size: 30px;
        margin-bottom: 35px;
    }

    .section-adventure .main-info .img .adv_desktop, .section-adventure .main-info .route-desktop{
        display: none;
    }

    .section-adventure .main-info .text p{
        font-size: 10px;
        letter-spacing: 2px;
    }

    .section-adventure .main-info .route-mobile{
        display: block;
        position: absolute;
        top: 540px;
        left: 0;

    }

    .bl-wht_btn{
        padding: 6px 12px;
        font-size: 10px;
        border: solid 1px;
        margin-left: 10%;
        margin-top: 120px;
    }

    .section-adventure{
        padding: 50px 0;
    }

    .section-adventure .main-info .img .adv_mobile{
        display: block;
        position: absolute;
        top: 850px;
        left: 0;
    }

    .section-enough h2{
        font-size: 15px;
    }

    .section-enough h3{
        font-size: 7px;
        margin: 0 50px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section-enough{
        background-image: url(../imgs/video-bg_mobile.png);
        height: 421px;
    }

    .section-enough .btn{
        display: none;
    }

    .section-advantages .bg-romb{
        width: 80px;
        height: 80px;
        transform: rotate(0deg);
    }

    .section-advantages .bg-romb .info-romb{
        width: 70px;
        height: 70px;
    }

    .section-advantages .bg-romb .info-romb p{
        font-size: 12px;
    }

    .section-advantages .bg-romb .info-romb .num-romb p{
        font-size: 8px;
    }

    .section-advantages .bg-romb .info-romb .num-romb{
        width: 25px;
        height: 25px;
        margin: 5px 0 0 5px;
        border-radius: 5px;
        border: solid 2px #390000a6;
    }

    .section-advantages .container{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        gap: 3px;
        transform: rotate(45deg);
        margin-left: 50px;
        margin-top: -50px;
    }
}