@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "SegwickAve";
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Thin.ttf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

*{
    margin: 0;
    bottom: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

header{
    background-image: url(../imgs/BG.png);
}

header .navigation{
    display: flex;
    justify-content: space-between;
}

header .navigation button{
    padding: 20px;
    border-style: none;
    background-color: white;
    color: #F87932;
    border-radius: 0 0 15px 15px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 50px;
    transition: 0.5s;
}

header .navigation button:hover{
    margin-bottom: 0;
    transition: 0.5s;
}

header .navigation .logo{
    width: 124px;
    height: 102px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .main-welcome .welcome-text h1{
    font-size: 80px;
    color: #39BFA7;
    font-family: "Merriweather";
    margin-bottom: 50px;
    text-shadow: 0px 4px 8px #00171480;
}

header .main-welcome .welcome-text h1 span{
    color: #F87932;
}

header .main-welcome .welcome-text button{
    border-style: none;
    width: 213px;
    height: 62px;
    color: white;
    font-family: "Lato";
    letter-spacing: 20%;
    font-size: 20px;
    font-weight: 700;
    background-color: #F87932;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
}

header .main-welcome .welcome-text button:hover{
    color: #F87932;
    background-color: white;
}

.main-welcome{
    display: flex;
    align-items:center;
    padding-bottom: 165px;
}

header .rombiki{
    position: absolute;
}

.section-adventure .main-info{
    display: flex;
}

.section-adventure .main-info .text *{
    margin-bottom: 30px;
}

.section-adventure .main-info .text h3{
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 24px;
    color: #666;
    font-weight: 500;
    letter-spacing: 5px;
}

.section-adventure .main-info .text h2{
    font-size: 60px;
    font-family: "Merriweather";
    color: #222;
    line-height: 100%;
    margin-bottom: 50px;
}

.section-adventure .main-info .text p{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 500;
    color: #333;
    line-height: 150%;
    letter-spacing: 3px;
    width: 80%;
}

.section-adventure .main-info .route{
    position: absolute;
    top: 975px;
    left: 150px;
}

.section-adventure button{
    border-style: none;
    padding: 12px 34px;
    border: solid #F87932;
    background-color: white;
    font-family: "Lato";
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 50px 0;
    transition: 0.3s;
}

.section-adventure button:hover{
    background-color: #F87932;
    color: white;
    transition: 0.3s;
}

.section-enough{
    background-image: url(../imgs/video-bg.png);
    block-size: cover;
    width: 1920px;
    height: 1000px;
    display: flex;
    
}

.section-enough .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-enough .container *{
    margin-top: 30px;
}

.section-enough h2{
    font-size: 60px;
    color: white;
    font-family: "Merriweather";
    text-align: center;
}

.section-enough h3{
    color: white;
    font-size: 20px;
    font-family: "Lato";
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
}